.servicesSection {
  padding: 128px 0;
  background-color: #222222;
}
.sectionTitle {
  font-family: var(--font-montserrat);
  font-weight: 600;
  font-size: 48px;
  text-align: center;
  color: #ffffff;
}
@media only screen and (min-width: 768px) {
  .sectionTitle {
    font-size: 64px;
  }
}
.sectionDescription {
  font-family: var(--font-open-sans);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  margin-bottom: 48px;
  color: #b7b7b7;
}
@media only screen and (min-width: 768px) {
  .sectionDescription {
    font-size: 22px;
  }
}
.teamList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  gap: 48px;

  justify-content: center;
  align-items: center;
  list-style: none;
}
.teamList > li {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .teamList > li {
    width: calc((100% - 48px) / 2);
  }
}
@media only screen and (min-width: 1024px) {
  .teamList > li {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
