.teamSection {
  background-color: #2a2a2a;
  padding: 128px 0;
}

.teamList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  gap: 48px;

  justify-content: center;
  align-items: center;
  list-style: none;
}
.teamList > li {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .teamList > li {
    width: calc((100% - 48px) / 2);
  }
}

@media only screen and (min-width: 1024px) {
  .teamList {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
